@import './header.scss';
@import './menu.scss';
@import './animation.scss';
@import './test.scss';
@import './color.scss';
@import './media.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
  font-style: normal;
}

body {
  background-image: url(/assets/img/target.png), linear-gradient(90deg, #8159C6 0%, #6C7CFF 100%);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.wrapper {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1385px;
}
