.menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 99px;

    &__lists {
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;
        width: 100%;
        cursor: pointer;
    }

    &__item {
        text-align: center;
        padding-right: 64px;

        &:last-child {
            padding-right: 0;
        }
    }

    &__link {
        color: $light-color;
        text-decoration: none;
    }

    &__date {
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: #C9C3F3;
    }

    &__number {
        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: $main-color;
    }
}
